#header-wrap {
	background-color: #CB3E3E;
}
#header-wrap h1 {
	margin: 0;
	font-size: 30px;
	width: 147px;
	float: left;
	background-image: url(../design/logo.png);
	background-repeat: no-repeat;
	background-position: 0 8px;
}
#header-wrap h1 a {
	color: rgba(0,0,0,0);
	height: 42px;
	display: block;
}
#SearchForm {
	float: left;
}
#SearchForm .row {
	width: 600px;
	margin-top: 6px;
}
#SearchForm * {
	float: left;
	display: block;
}
.center-wrap {
	width: 950px;
	margin: auto;
}

.question-item {
	width: 640px;
	border-top: 1px solid #aaa;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	font-size: 13px;
}
.question {
	display: block;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
}
.avatar {
	float: left;
	border-radius: 3px;
	margin-left: 3px;
}
.avatar img {
	width: 50px;
	height: 50px;
}
.name {
	display: block;
	margin-left: 61px;
	font-weight: bold;
	color: #222;
}
.summary {
	margin-left: 61px;
}

